header {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    padding: 20px 0; /* Add padding to the header */
    text-align: center;
    grid-column: span 2; /* Header spans both columns */
}

body {
    font-family: 'Raleway', sans-serif;
    display: grid;
    border: 0px;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    color: white;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0; /* Remove default margin */
}

blockquote {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-shadow: 0 0 10px black;
    line-height: 1.3em;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1em;
    backdrop-filter: blur(10px);
    text-align: center;
    max-height: 100%;
    margin: 20px 3px;
}

blockquote strong {
    display: block;
    margin-bottom: 10px; /* Add space between the title and content */
}
.blockquote-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.text-left-1 {
    text-align: left;
    padding-right: 10px; /* Adjust spacing between text and image */
    max-width: 300px;

}
.text-left-3 {
    text-align: left;
    padding-right: 10px; /* Adjust spacing between text and image */
    max-width: 250px;

}

.image {
    width: 100%;
}

.button {
    background-color: #105693;
    color: white;
    font-size: large;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px; /* Add margin to create space between buttons */
}

.button:hover {
    background-color: #1273c7;
}

a {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: large;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

a:hover {
    text-shadow: 2px 2px 2px white;
}

.column {
    max-width: 200px;
    padding: 100px;
}
